@page "/"


<p>Hello, @StringUtilities.CustomToUpper(name)</p>

<button @onclick="@(() => Console.WriteLine("I have been clicked"))">Click me</button>
<br />

<button @onclick="@WriteInLog">ClickMe</button>
<br />
<br />

<div>
    <h3>Movie</h3>
    @foreach (var movie in movies)
    {
        <p>Title: <b>@movie.Title</b></p>
        <p>Release Date: <b>@movie.ReleaseDate.ToString("dd MMM yyyy")</b></p>
    }
<br />
<br />

    @for (var i = 0; i < movies.Count; i++)
    {
        <div style="background-color: @(i % 2 == 0 ? "blue" : "red")">
            <p>@(i+1)) Title: <b>@movies[i].Title</b></p>
            <p>Release Date: <b>@movies[i].ReleaseDate.ToString("dd MMM yyyy")</b></p>
        </div>

    }

</div>



@code{

    string name = "Paul";
    List<Movie> movies;

    //Creating a single movie entity
    Movie TheRaid = new Movie
    {
        Title = "The Raid Redemption",
        ReleaseDate = new DateTime(2013, 7, 2)
    };

    //Creating list of multiple movies, Declare list above first
    //Oninitialized ensures they are built upon application starting
    protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie(){Title = "The Raid 2", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie(){Title = "Dredd", ReleaseDate = new DateTime(2011, 6, 4)},
            new Movie(){Title = "He-Man", ReleaseDate = new DateTime(1989, 2, 4)},
        };
    }


    void WriteInLog()
    {
        Console.WriteLine("I have been clicked");
    }

}
